<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$sitechar}" />
<title>PK规则说明-PK台-{$sitename}</title>
<link href="__PUBLIC__/style/basic.v1.4.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/style/pk.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/function.comm.js"></script>
</head>
<body>
<include file="./Application/Home/View/site.head.html" />
<div id="pk_main">
	<div id="borter">
		<div id="rev_pkbg"><a name="top"></a>
		<ul>
			<li><a href="#g">功能说明</a></li>
			<li><a href="#t">投票操作说明</a></li>
			<li><a href="#p">评论操作说明</a></li>
			<li><a href="#h">回复已有评论操作说明</a></li>
			<li><a href="#z">最佳辩手说明</a></li>
			<li><a href="#b">辩论结果说明</a></li>
		</ul>
		<span class="yes"><a class="blueonline" href="{$refer}">我知道，不用看了>></a></span>
		<br /><br /><br />
	</div>
	<div class="pk_caption">
	<p><span>辩论PK台是{$sitename}网友辩论的平台，任何网民都可以在这里发表自己的观点，无论您是{$sitename}会员还是普通网民，您都有权利在辩论PK台和网友进行辩论。在网络上与网友一起进行辩论赛，体验辩论赛相互PK的气氛，让每一个网民都参与到辩论赛中……</span></p>
	<a name="g"></a><h6>一、功能说明</h6>
	<p><span>    新版“辩论PK台”功能有是投票、发表观点、反驳、支持/反对评论。其中投票分为两类，一类为对“正方”、“反方”进行投票。一类为对网友所发出的个人观点进行支持和反对。</span><br />
 <span>投票，投票是辩论PK台重要功能，当您进入辩论PK台时可以选择自己支持的一方。“正方”或“反方”，您的一票也许就能改变一方的结果。</span><br /><span>发表观点，网友可以选择“正方”、“反方”进行评论，发表自己的观点与网友进行辩论。发表后您的评论将显示到网页上。如果您的评论，支持和反对的总人数在48小时内是最多的，您的评论将成为“最热观点”，底色将进行改变，并在本方的第一位显示。</span></p>
	 <h6>二、操作说明</h6>
	 <a name="t"></a><p><span class="hot">< 投票 ></span><br />
    <span>如果您同意正方的观点，想为“正方”投票。点击“正方观点”下面“投票”按钮即可投票。为“反方”投票，点击“反方”下方“投票”按钮即可。如下图:</span></p>
	<div><img src="__PUBLIC__/images/pk/pk_shuoming_tp.jpg"/><br />
	  <img src="__PUBLIC__/images/pk/pk_shuoming_tps.jpg" width="464" height="112" /></div>
	  <p><span>    如果您对某网友的评论比较认同，那么您可以对其进行“支持”投票。如果感觉评论内容不好，不同意其观点，您可以对其投“反对”票。如下图：</span></p>
	  <div><img src="__PUBLIC__/images/pk/pk_shuoming_zc.jpg"/></div>
	  <a name="p"></a><p><span class="hot">< 评论 ></span><br />
    <span> 评论，是指网友可以在网站中根据自己所认为的观点发表自己的看法。当您想为“正方”辩论、发表评论时，在“正方”评论框中写上标题和自己的评论。点击“提交”按钮，即可完成评论。在“反方”发表评论操作相同。如下图:</span></p>
	<div><img src="__PUBLIC__/images/pk/pk_shuoming_zcz.jpg" width="481" height="178" /><br />
	  <img src="__PUBLIC__/images/pk/pk_shuoming_zcf.jpg" width="481" height="178" /></div>
	  <a name="h"></a><p><span class="hot">< 回复已有的评论 ></span><br />
    <span> 　回复已有的评论，是指您可以对某位网友的评论进行反驳，也可以对他的说法进行补充。在“辩论PK台”中添加了此功能，并可可以“盖楼”。如果想针对某一条评论进行恢复，则点击此条留言下方的“回复此评论”，如下图：</span><Br /><span>
点击后，将弹出评论输入框，输入自己的回复内容，点击“提交”即可。</span></p>
	<div><img src="__PUBLIC__/images/pk/pk_shuoming_fb.jpg"/></div>
	<a name="z"></a><h6>三、最佳辩手</h6>
	<p><span>     在新版的辩论PK台中引进了“最佳观点”称号，辩论PK台“最佳观点”选取方法，是根据网友所对某条评论的“支持人数”进行选取。“支持人数”最高的为“最佳观点”。<span class="red">“正方”和“反方”各选一个。</span>如有其它评论投票数大于目前“最佳观点”投票数，那么“最佳观点”将换成数值最高的评论。
被选为“最佳观点”的评论，将提到评论列表顶部第一位显示。</span><br />
<span>举例说明：在下图可以看出来，“最佳观点”为“10人支持”，下面这个观点是“3人支持”。所以就自动选择“10人支持”为最佳观点，并且与其它观点显示略有不同。这样会让更多的网友注意到您的评论。</span></p>
	<div><img src="__PUBLIC__/images/pk/pk_shuoming_zj.jpg" width="480" height="208" /><br />
	  <img src="__PUBLIC__/images/pk/pk_shuoming_zc.jpg" /></div>
	<a name="b"></a><h6>四、结果说明</h6>
	<p><span>    网友可以看到，现在的辩论页面里增加了两辆“坦克”，和“碉堡”。可能大家都不太清楚这个用途。其实这两辆“坦克”和“碉堡”可以叫做“对抗战场”，是为了使网友在辩论时，增加“对抗性”，添加一些动态效果，让网友感觉到一些趣味。</span></p>
	<div><span>< ↓PK初始 ></span><br /><img src="__PUBLIC__/images/pk/pk_shuoming_tkstart.jpg" width="946" height="104" /></div>
	<p><span>     在辩论话题刚发布时，初始状态为坦克为相对立（上图样式）。双方可以使用投票，评论会自动左右移动。</span></p>
	<div>
		<span>< ↓正方领先 ></span><br /><img src="__PUBLIC__/images/pk/pk_shuoming_lefty.jpg" width="946" height="105" /><br />
		<span>< ↓反方领先 ></span><img src="__PUBLIC__/images/pk/pk_shuoming_righty.jpg" width="946" height="107" /><br />
	</div>
	<div class="back"><a class="blueonline" href="{$refer}">返回辩论PK台</a><a class="blueonline" href="#top">回到顶部</a></div>
</div>
</div>
</div>
<div class="Blank"></div>
<include file="./Application/Home/View/site.bottom.html" />
</body>
</html>