<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$Think.config.DB_CHARSET}" />
<meta name="description" content="{$pkinfo.context}" />
<meta name="keywords" content="{$pkinfo.title}" />
<title>{$pkinfo.title}-pk台-战略网</title>
<link href="{$site}/Public/style/basic.v1.4.css" rel="stylesheet" type="text/css">
<link href="{$site}/Public/style/pk1.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$site}/Public/js/jquery.js"></script>
<script type="text/javascript" src="{$site}/Public/js/function.comm.js"></script>
<script type="text/javascript" src="{$site}/Public/js/function.cookie.js"></script>
<script>
function checkform(id){
  var content = $("#"+id+" textarea[name='content']").val();
  var subject = $("#"+id+" input[name='subject']").val();
  if(subject == '标题:' ){
     $("#"+id+" input[name='subject']").val('');
  }
  if(content == '内容:' ){
     $("#"+id+" textarea[name='content']").val('');
  }
  return false;
}

function setform(id){
$("#"+id+" input[name='subject']").val('标题:');
$("#"+id+" textarea[name='content']").val('内容:');
}
//评论支持点击
function regoodtop(id){
	$.get(siteurl+"/do.php", {inajax:1,ado:'comment', ac:'comment_vote', parameter: $("#categoryid").val()+'_'+id+'_good'}, function(data){
		      $('#topgood'+id).text(parseInt( $('#topgood'+id).text())+1);
		});

}

//评论反对点击
function rebadtop(id){
	$.get(siteurl+"/do.php", {inajax:1,ado:'comment', ac:'comment_vote', parameter: $("#categoryid").val()+'_'+id+'_bad'}, function(data){
		      $('#topbad'+id).text(parseInt( $('#topbad'+id).text())+1);
		});

}

//回复此评论
function recommenttop(id){
	off = $("#cmm_"+id).offset();
	$.get(siteurl+"/do.php", {inajax:1,ado:'pk', ac:'pk_reap', parameter: $("#categoryid").val()+'_'+id}, function(data){
		comment('发表评论', checkReturn(data), off.top+20, off.left-305,500,0);
	});

}
 
</script>
</head>
<body>
<include file="./Application/Home/View/site.head.html" />
<input id="infoid" type="hidden" value="{$pkinfo.id}" />
<input id="categoryid" type="hidden" value="-1" />
<div id="pk_main"><div id="borter">
	<div id="pk_news">
		<img src="{$attpath}/{$pkinfo.imgurl}" width="740" height="80" alt="{$title}" />
<div class="main_news"><a class="blackfont">{$pkinfo.context|mb_substr=0,500,'utf8'}<if condition="$pkinfo.url neq ''">
        [<a class="blue" href="{$pkinfo.url}" target="_blank">详细背景资料</a>]</if></a></div>
	</div>
	<div id="pk_more">
	<span class="more_right"><b>>>></b></span><h3><a href="{$iisssite}/pk/plist/">往期辩论话题</a></h3>
		<ul>
        <foreach name="pklist" item="vo" key="k">
        <if condition="($k egt 0 ) AND ($k lt 8)">
	<li>·<a class="blue" href="{$vo.pkurl}" title="{$vo.title}">{$vo.title|mb_substr=0,16,'utf8'}</a></li>
        </if>
        </foreach>
		</ul>
	</div>
	<div class="clear" id="gv_pk_viewnum_{$pkinfo.id}"></div>
<div id="pk_title">
<a class="blueonline fright" href="{$iisssite}/pk/help/1" target="_parent">pk规则说明>></a>
{$pkinfo.title}
</div>
<div id="vote_maim">
<div id="vote_l"><h4>正方:{$pkinfo.agreetitle}</h4>
<div class="votes">[<span class="vote_number" id="agree{$pkinfo.id}">{$pkinfo.agreevote}</span> 票]</div><img src="{$site}/Public/images/pk/vote_y.jpg" style="cursor:pointer;" onclick="pkvote({$pkinfo.id}, 'agree');"/>
<div id="vote_yes">{$pkinfo.agreeintro}</div></div>
<div id="vote_r"><h4>反方:{$pkinfo.opposetitle}</h4>
<div class="votes">[<span class="votes_number" id="oppose{$pkinfo.id}">{$pkinfo.opposevote}</span> 票]</div><img src="{$site}/Public/images/pk/vote_n.jpg" style="cursor:pointer;" onclick="pkvote({$pkinfo.id}, 'oppose');" />
<div id="vote_no">{$pkinfo.opposeintro}</div></div>
<div class="clear"></div>
<!---start-->
<div class="pk_vs_pic"><img src='{$site}/Public/images/pk/<if condition="$result elt 0">pk_redno.gif<elseif condition="$result egt 1">pk_redyes.gif<else />pk_red.gif</if>' width="65" height="80" class="fleft" />
  <div class="vleft" style="padding-left:{$result*626}px;"><img src="{$site}/Public/images/pk/pk_tank.jpg" width="160" height="50"></div>
<img src='{$site}/Public/images/pk/<if condition="$result elt 0">pk_blueyes.gif<elseif condition="$result egt 1">pk_blueno.gif<else />pk_blue.gif</if>' width="65" height="80" class="fright" /></div>
<div class="clear"></div>
</div>
<!---end-->
<div class="box_main box_x">
<div id="comment_bg"><div id="comment_submityes" class="comment"><img src="{$site}/Public/images/pk/pk_yes.jpg" width="71" height="18" /><label><input name="subject" type="text" value="标题:" onfocus="delinput($(this), '标题:');"/></label><form onsubmit="return false;"><textarea name="content" class="form_text" onfocus="delinput($(this), '内容:');">内容:</textarea><div><input type="image" class="inputs"  onclick="checkform('comment_submityes');comments_submit('comment_submityes', '-1_{$pkinfo.id}');setform('comment_submityes')" src="{$site}/Public/images/pk/pk_input.jpg" /><br /></div></form>
    </div></div>
<div id="comment_bg"><div id="comment_submitno" class="comment"><img src="{$site}/Public/images/pk/pk_no.jpg" width="71" height="18" /><label><input name="subject" type="text" value="标题:" onfocus="delinput($(this), '标题:');" /><input name="commenttype" type="hidden" value="1" /></label><form onsubmit="return false;"><textarea name="content" class="form_text" onfocus="delinput($(this), '内容:');">内容:</textarea><div><input type="image" class="inputs"  onclick="checkform('comment_submitno');comments_submit('comment_submitno', '-1_{$pkinfo.id}');setform('comment_submitno')" src="{$site}/Public/images/pk/pk_input.jpg" /><br /></div></form></div></div><div class="clear"></div>
</div>
<div class="box_main box_xt">
<div id="review_left">
 <foreach name="goodcomm" item="vo">
<div class="review" id="cmmtop_{$vo.id}">
<dl><dt class="r"><a href="{$iisssite}/pk/app/{$pkinfo.id}/1" class="blue morelist">查看正方全部评论>></a><img src="{$site}/Public/images/pk/best_y.jpg" /><Br /><em>{$vo.postdate|date="Y-m-d H:i:s",###}</em><a target="_blank" href="#">{$vo.username}</a></dt>
             <dd>标题：{$vo.subject}</dd>
            <if condition="$vo.quotecomm neq ''">
           <dd>
	           <div class="bg">引用：{$vo.quotecomm.username}</a><br />
					<span>
					<p>{$vo.quotecomm.content}</p>
					</span>
			   </div>
		   </dd>
		   </if>
             
              <dd>
                   <p>{$vo.content}</p>
        </dd>
             <dd>
                  <ul><li><span class="colorred" id="topgood{$vo.id}">{$vo.good}</span>人<br><a href="javascript:regoodtop({$vo.id});">支持</a></li><li><span class="colorblue" id="topbad{$vo.id}">{$vo.bad}</span>人<br><a href="javascript:rebadtop({$vo.id});">反对</a></li></ul><Br /><a class="blackonline" href="javascript:recommenttop({$vo.id});">反驳此评论</a>
				  <br class="clear" />       
             </dd>
</dl>
</div>
</foreach>

<div id="review_r"></div>
<div id="gv_comments_list_-1_{$pkinfo.id}"></div>

<div id="rev_m"><a href="{$iisssite}/pk/app/{$pkinfo.id}/1" class="blueonline">查看正方全部评论>></a></div></div>
<div id="review_right">

<foreach name="badcomm" item="vo">
<div class="reviews" id="cmmtop_{$vo.id}">
<dl><dt class="n"><a href="{$iisssite}/pk/opp/{$pkinfo.id}/1" class="blue morelist">查看反方全部评论>></a><img src="{$site}/Public/images/pk/best_n.jpg" /><Br /><em>{$vo.postdate|date="Y-m-d H:i:s",###}</em><a class="blue" target="_blank" href="#">{$vo.username}</a></dt>
             <dd>标题：{$vo.subject}</dd>
           <if condition="$vo.quotecomm neq ''">
           <dd>
	           <div class="bg">引用：{$vo.quotecomm.username}</a><br />
					<span>
					<p>{$vo.quotecomm.content}</p>
					</span>
			   </div>
		   </dd>
		   </if>
             
              <dd>
                   <p>{$vo.content}</p>
        </dd>
             <dd>
                  <ul><li><span class="colorred" id="topgood{$vo.id}">{$vo.good}</span>人<br><a href="javascript:regoodtop({$vo.id});">支持</a></li><li><span class="colorblue" id="topbad{$vo.id}">{$vo.bad}</span>人<br><a href="javascript:rebadtop({$vo.id});">反对</a></li></ul><Br /><a class="blackonline" href="javascript:recommenttop({$vo.id});">反驳此评论</a>
				  <br class="clear" />       
             </dd>
</dl>
</div>
</foreach>



<div id="review_n"></div>
<div id="gv_comments_tlist_-1_{$pkinfo.id}"></div>
<div id="rev_m"><a href="{$iisssite}/pk/opp/{$pkinfo.id}/" class="blueonline">查看反方全部评论>></a></div>
</div>
<div class="clear"></div>

  </div></div></div></div>
<include file="./Application/Home/View/site.bottom.html" />
<script type="text/javascript" >BAIDU_CLB_SLOT_ID = "253313";</script>
<script type="text/javascript" src="http://cbjs.baidu.com/js/o.js"></script>
</body>
</html>