<!DOCTYPE html Public "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$Think.config.DB_CHARSET}" />
<meta name="description" content="{$pkinfo.context}" />
<meta name="keywords" content="{$pkinfo.title}" />
<title><if condition="$pkinfo.seosubject neq ''">{$pkinfo.seosubject}<else />{$pkinfo.title}_辩论pk台</if>_战略网</title>
<link href="{$Think.const.SITE}/Public/style/basic.v1.4.css" rel="stylesheet" type="text/css">
<link href="{$Think.const.SITE}/Public/style/pk_s1.css" rel="stylesheet" type="text/css">
<link href="{$Think.const.SITE}/Public/style/plk_new.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{$Think.const.SITE}/Public/js/jquery.js"></script>
<script type="text/javascript" src="{$Think.const.SITE}/Public/js/function.comm.js"></script>
<script type="text/javascript" src="{$Think.const.SITE}/Public/js/function.cookie.js"></script>
<script type="text/javascript" src="{$Think.const.SITE}/Public/js/function.login.js"></script>
<script type="text/javascript">
function checkform(id){
  var content = $("#"+id+" textarea[name='content']").val();
  var subject = $("#"+id+" input[name='subject']").val();
  if(subject == '标题:' ){
     $("#"+id+" input[name='subject']").val('');
  }
  if(content == '内容:' ){
     $("#"+id+" textarea[name='content']").val('');
  }
  
  return false;
}

function setform(id){
	$("#"+id+" input[name='subject']").val('标题:');
	$("#"+id+" textarea[name='content']").val('内容:');
}
//评论支持点击
function regoodtop(id){
	
   $.get(siteurl+"/do.php", {inajax:1,ado:'comment', ac:'comment_vote', parameter: 
   $("#categoryid").val()+'_'+id+'_good'}, function(data){
		$('#topgood'+id).text(parseInt( $('#topgood'+id).text())+1);
	});
}
//评论反对点击
function rebadtop(id){
	$.get(siteurl+"/do.php", {inajax:1,ado:'comment', ac:'comment_vote', parameter: $("#categoryid").val()+'_'+id+'_bad'}, function(data){
		$('#topbad'+id).text(parseInt( $('#topbad'+id).text())+1);
	});
}

//回复此评论
function recommenttop(id, type){
	if(typeof(type)=='undefined'){
		off = $("#cmm_"+id).offset();
		stop = off.top+20;
		left = off.left-305;
	}else{
		off = $("#comtop_"+id).offset();
		stop = off.top+80;
		left = off.left;
	}
	
	$.get(siteurl+"/do.php", {inajax:1,ado:'pk', ac:'pk_reap', parameter: $("#categoryid").val()+'_'+id}, function(data){
		comment('发表评论', checkReturn(data), stop, left,500,0);
	});

}

function clicks(id) {
    ids=$("li [id='"+id+"']").parents('.comment_box').attr('id');
	$("."+ids).attr('value',$("."+ids).attr('value')+$("li [id='"+id+"']").attr("id"));
}
//pk会员登录
function pklogin(){
	//清除帐号密码的空格
	var username = encodeURI( $('input[name="username"]').val().replace(/\s/g,"") );
	var password = encodeURI( $('input[name="password"]').val().replace(/\s/g,"") );

	if ( username === '' ) {
		$('input[name="username"]').focus();
		return;
	}
	if ( password === '' ) {
		$('input[name="password"]').focus();
		return;
	}
   
	var url = siteurl+"/do.php?inajax=1&do=user&ac=pk_login&parameter="+username+"_"+password+"&json=1&jsoncallback=?";
	$.getJSON(url,function(json){
		if ( json.logininfo) {
			alert(json.logininfo);
		} else {
			$('.com_login').find('form').hide();
			$('.com_login #com_login').append(json.data);
		}
	});
}
//2012-3-19 退出登录
function loginout(id,param){
   doAjaxGetJSON(id,'pk','pk_loginout',param);
}
//获取评论总个数
function getCommentTotal(pkid) {
	var url = siteurl+"/do.php?inajax=1&do=comment&ac=comment_total&parameter=-1_"+pkid+"&json=1&jsoncallback=?";
	$.getJSON(url,function(json){
		$('#comment_total').text(json.data);
	});
}
function showheight(){
	var lefth = $(".main_left .review_bk").height();
	var righth = $(".main_right .reviews_bk").height();
	var toplefth = $(".hot_red").height();
	var toprighth = $(".hot_blue").height();
	var tmph = g = 0;
	if(lefth>26 && lefth+toplefth>righth+toprighth){
		var tmph = toplefth;
		$(".main_left .review_bk .review").each(function(){
			tmph += $(this).height();
			if(tmph>righth+toprighth){
				g += 1;
				if(g>1){
					$(this).hide();
				}
			}
		});
		window.clearInterval(wid);
	}else{
		if(righth>26){
			var tmph = toplefth;
			$(".main_right .reviews_bk .review").each(function(){
				tmph += $(this).height();
				if(tmph>lefth+toplefth){
					g += 1;
					if(g>1){
						$(this).hide();
					}
				}
			});
			window.clearInterval(wid);
		}
	}
}
function showmessage(type,message){
	$(".plk_tishi1").hide();
	$(".plk_tishi2").hide();
	$(".plk_tishi3").hide();
	var str = '<p>' + message + '</p>';
	$(".plk_tishi_nrr_0"+type).html(str);
	$(".plk_tishi"+type).show();
	
	if(type!='3'){
		//添加读取cookie
	    usercomment = $.cookie('usercomment');
	    if('' != usercomment && null!= usercomment && undefined != usercomment){
	        $("#boxbody textarea[name='content']").val(usercomment);
	        $.cookie('usercomment','');
	    }
	}
	return false;
}
var wid = null;
$(function (){
	//页面加载，把帐号和密码框里面的内容都清空
	$("input[name='reguser']").click(function(){
		window.location=siteurl+"/user/reg";
	});
	$(".text").attr('value','');
	$(".text").focus(function(){
		$(this).attr('value','');
	});

	//获取pkID
	var pkid = $('#infoid').attr('value');
	//获取评论总数
	getCommentTotal(pkid);
	wid = window.setInterval("showheight()",1000);
	
	$(".plk_text").live("click",function(){
    	$(".plk_tishi1").hide();
    	$(".plk_tishi2").hide();
    	$(".plk_tishi3").hide();
		$(".plk_text_nr").focus();
    });
});

</script>
</head>
<body>
<input id="infoid" type="hidden" value="{$pkinfo.id}" />
<input id="categoryid" type="hidden" value="-1" />
<include file="./Application/Home/View/site.head.html" />
<div id="main">
  <div class="main_l">
     <div class="block">
      <h1><span class="fright"><img src="{$Think.const.SITE}/Public/images/pk/pk_h1bg_r.jpg"></span><a 
class="bjzl"></a></h1>
      <p>　{$pkinfo.context|mb_substr=0,500,'utf8'}<if condition="$pkinfo.url neq ''">
        [<a class="blue" href="{$pkinfo.url}" target="_blank">详细背景资料</a>]</if></p>
    </div>
  </div>
  <div class="main_r">
    <div class="block">
      <h1><span class="fright"><img src="{$Think.const.SITE}/Public/images/pk/pk_h1bg_r.jpg"></span><span 
class="fright"><a href="{$Think.const.IISSSITE}/pkt/plist/">更多&gt;&gt;</a></span><a 
class="wqht"></a></h1>
      <ul>
        <foreach name="pklist" item="vo" key="k">
        <if condition="($k egt 0 ) AND ($k lt 8)">
        <li><a href="{$vo.pkurl}" title="{$vo.title}">{$vo.title}</a></li>
        </if>
        </foreach>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div id="main">
  <div class="top_bg"></div>
</div>
<div id="main">
  <div class="pk_img">
    <div class="main_left">
      <div class="pk_yes">
        <h1>正方:{$pkinfo.agreeguide}</h1>
        <form>
          <input onclick="pkvote({$pkinfo.id}, 'agree');return false;" 
src="{$Think.const.SITE}/Public/images/pk/pk_yes_botton.jpg" type="image">
          <span>[<a class="red" id="agree{$pkinfo.id}">{$pkinfo.agreevote}</a> 票]</span>
        </form>
        <p>{$pkinfo.agreeintro}</p>
      </div>
    </div>
    <div class="main_right">
      <div class="pk_no">
        <h1>反方:{$pkinfo.opposeguide}</h1>
        <form>
          <input onclick="pkvote({$pkinfo.id}, 'oppose');return false;" 
src="{$Think.const.SITE}/Public/images/pk/pk_no_botton.jpg" type="image">
          <span>[<a class="blue" id="oppose{$pkinfo.id}">{$pkinfo.opposevote}</a> 票]</span>
        </form>
        <p>{$pkinfo.opposeintro}</p>
      </div>
    </div>
    <div class="clear"></div>
    <div class="pk_rule"><a href="{$Think.const.IISSSITE}/pkt/help/1" target="_blank">pk规
则说明&gt;&gt;</a></div>
  </div>
	<div class="pk_vs_pic">
		<img src="{$Think.const.SITE}/Public/images/pk/pk_red.gif" width="65" height="80" class="fleft" />
		<div class="vleft" style="padding-left:{$result*626}px;">
		<img src="{$Think.const.SITE}/Public/images/pk/pk_tank.jpg" width="160" height="50">
		</div>
		<img src="{$Think.const.SITE}/Public/images/pk/pk_blue.gif" width="65" height="80" class="fright" />
	</div>
  <div class="clear"></div>
</div>
<div id="main">
<a name="pk_content" id="pk_content" ></a>
	<div class="comment_bg">
	<div class="com_login">
      <p class="fright">(评论<a class="red" id="comment_total">0</a>条 <a class="red">
{$pkinfo.clicks}</a>名网友参与)</p>
      <div id="com_login">
        <if condition="$Think.cookie.auth eq ''">
        <form onsubmit="return false;">
          用户名
          <input class="text" name="username" type="text">
          密 码
          <input value="" class="text" name="password" type="password">
          <input name="loginuser" onclick="pklogin();" src="{$Think.const.SITE}/Public/images/pk/login_bot.jpg" 
type="image">
          <input name="reguser" src="{$Think.const.SITE}/Public/images/pk/register_bot.jpg" type="image">
          <!--2012-1-11 pk增加外部接入样式--> 
          <span>其他方式登录：<a class="SINA_login" href="###" onclick="out_login( 'sina')">
微博登录</a><a class="QQ_login" href="###" onclick="out_login( 'qq' )">QQ登录</a></span> 
          <!--end-->
        </form>
        <else />
          <p class="log_in">{$data.nowtime}好：<a class="redcolor">{$data.username}</a><a class="blueonline" href="javascript:loginout('com_login');">退出</a><a class="bbs" target="_blank" href="{$data.bbsurl}">进入论坛</a><a class="member" href="{$data.userurl}/home/" target="_blank">进入会员中心</a></p>
        </if>
      </div>
    </div>
	<div class="main_left">
      <div class="comment" id="comment_submityes">
        <h1><a></a></h1>
        <form onsubmit="return false;">
          <textarea name="content" onfocus="delinput($(this), '内容:');">内容:</textarea>
          <input src="{$Think.const.SITE}/Public/images/pk/pk_texttj.jpg" onclick="checkform
('comment_submityes');comments_submit('comment_submityes','-1_{$pkinfo.id}');" 
type="image">
        </form>
      </div>
    </div>
    <div class="main_right">
      <div class="comment" id="comment_submitno"><input name="commenttype" type="hidden" value="1" />
        <h1><a class="zcff"></a></h1>
        <form onsubmit="return false;">
          <textarea name="content" onfocus="delinput($(this), '内容:');">内容:</textarea>
          <input src="{$Think.const.SITE}/Public/images/pk/pk_texttj.jpg" onclick="checkform
('comment_submitno');comments_submit('comment_submitno','-1_{$pkinfo.id}');" type="image">
        </form>
      </div>
    </div>
<div class="clear"></div>
</div></div>
<div style="margin:8px 0px 8px 0px;">
<script type="text/javascript">/*pk台3通栏960*60，创建于2011-11-29*/ var cpro_id = 'u694612';</script><script src="http://cpro.baidu.com/cpro/ui/c.js" type="text/javascript"></script>
</div>
<div id="main">
	<div class="main_left">
		<div class="hot_red">
      <h1><a></a></h1>
      <foreach name="goodcomm" item="vo">
      <div class="review" id="cmmtop_{$vo.id}">
        <dl>
          <dt><em>{$vo.postdate|date="Y-m-d H:i:s",###}</em><a href="#">{$vo.username}</a></dt>
          
           <if condition="$vo.quotecomm neq ''">
           <dd>
	           <div class="bg">引用：{$vo.quotecomm.username}</a><br />
					<span>
					<p>{$vo.quotecomm.content}</p>
					</span>
			   </div>
		   </dd>
		   </if>
		   <dd><p>{$vo.content}</p></dd>
          </dd>
          <dd class="bot_bit">
            <ul>
              <li><a class="support" href="javascript:regoodtop({$vo.id});">支持</a><span 
class="colorred"><b id="topgood{$vo.id}">{$vo.good}</b>票</span></li>
              <li><a class="support" href="javascript:rebadtop({$vo.id});">反对</a><span 
class="colorblue"><b id="topbad{$vo.id}">{$vo.bad}</b>票</span></li>
              <li><a class="blackonline" href="javascript:recommenttop({$vo.id});">回复此评
论</a></li>
              <li class="zf"><a id="appyes" class="blackonline share_a" 
style="cursor:pointer" name="transmit_button2" href="javascript:transmit_pk
({$pkinfo.id},'{$vo.content|strip_tags}','appyes');">转发</a></li>
            </ul>
            <br class="clear">
          </dd>
        </dl>
      </div>
      </foreach>
      <div class="review_more"><a class="blueonline" href="{$Think.const.IISSSITE}/pkt/app/
{$pkinfo.id}/1">查看全部评论&gt;&gt;</a></div>
    </div>
	{// 正方 普通评论 }
	<div class="review_bk"><a name="new_comment_view"></a>
		<div id="gv_comments_pklist_-1_{$pkinfo.id}"></div>
		<div class="review_more"><a class="blueonline" 
href="{$Think.const.IISSSITE}/pkt/app/{$pkinfo.id}/1">查看全部评论>></a></div>
	</div>
	</div>
	<div class="main_right">
		<div class="hot_blue">
      <h1><a></a></h1>
      <foreach name="badcomm" item="vo">
      <div class="review" id="cmmtop_{$vo.id}">
        <dl>
          <dt><em>{$vo.postdate|date="Y-m-d H:i:s",###}</em><a href="#">{$vo.username}</a></dt>
          
           <if condition="$vo.quotecomm neq ''">
           <dd>
	           <div class="bg">引用：{$vo.quotecomm.username}</a><br />
					<span>
					<p>{$vo.quotecomm.content}</p>
					</span>
			   </div>
		   </dd>
		   </if>
		   <dd><p>{$vo.content}</p></dd>
          </dd>
          <dd class="bot_bit">
            <ul>
              <li><a class="support" href="javascript:regoodtop({$vo.id});">支持</a><span 
class="colorred"><b id="topgood{$vo.id}">{$vo.good}</b>票</span></li>
              <li><a class="support" href="javascript:rebadtop({$vo.id});">反对</a><span 
class="colorblue"><b id="topbad{$vo.id}">{$vo.bad}</b>票</span></li>
              <li><a class="blackonline" href="javascript:recommenttop({$vo.id});">回复此评
论</a></li>
              <li class="zf"><a id="appyes" class="blackonline share_a" 
style="cursor:pointer" name="transmit_button2" href="javascript:transmit_pk
({$pkinfo.id},'{$vo.content|strip_tags}','appno');">转发</a></li>
            </ul>
            <br class="clear">
          </dd>
        </dl>
      </div>
      </foreach>
      <div class="review_more"><a class="blueonline" href="{$Think.const.IISSSITE}/pkt/opp/
{$pkinfo.id}/1">查看全部评论&gt;&gt;</a></div>
    </div>
    {// reviews_bk 反方普通评论的列表 }
	<div class="reviews_bk">
		<div id="gv_comments_pktlist_-1_{$pkinfo.id}"></div>
		<div class="review_more"><a class="blueonline" 
href="{$Think.const.IISSSITE}/pkt/opp/{$pkinfo.id}/1">查看全部评论>></a></div>
	</div>
  </div>
	<div class="clear"></div>
</div>
<div style="margin:8px 0px 8px 0px;">
<script type="text/javascript">/*pk台1通栏960*60，创建于2011-11-29*/ var cpro_id = 'u694541';</script><script src="http://cpro.baidu.com/cpro/ui/c.js" type="text/javascript"></script>
</div>
<div id="main">
  <div class="block">
    <h1><span class="fright"><img src="{$Think.const.SITE}/Public/images/pk/pk_h1bg_r.jpg"></span><span class="fright"><a href="{$Think.const.IISSSITE}/pkt/plist" target="_blank">更多&gt;&gt;</a></span><a class="wqht"></a></h1>
  </div>
  <div class="main_left">
  <foreach name="pklist" item="vo" key="k">
  <if condition="($k lt 6) AND ($k % 2 eq 0)">
 <div class="pk_new">
      <h1>话题:<a href="{$vo.pkurl}" title="{$vo.title}" target="_blank">{$vo.title}
</a></h1>
    <div class="pk_more">
      <div class="pkm_view">
        <div class="pkm_yes">
          <p title="{$vo.agreetitle}">{$vo.agreeguide}</p>
         </div>
        <div class="pkm_no">
          <p title="{$vo.opposetitle}">{$vo.opposeguide}</p>
          </div>
        <div class="clear"></div>
        <div class="pk_jdt">
            <div class="pk_jdt_num"><b id="agree{$vo.id}">{$vo.agreevote}</b> / <b 
id="oppose{$vo.id}">{$vo.opposevote}</b></div>
            <div class="pk_jdt_a"><a class="zczhengfang" onclick="pkvote({$vo.id}, 
'agree');" style="cursor:pointer;"></a><a class="zcfanfang" onclick="pkvote({$vo.id}, 
'oppose');" style="cursor:pointer;"></a></div>
            <div class="pk_jdt_nr"><span class="zhengfang" style="width:
{$vo.point_good}%"></span><span class="fanfang" style="width:{$vo.point_bad}%"></span></div>
        </div>
      </div>
    </div>
    </div>
    </if>
    </foreach>
  </div>
  
  <div class="main_right">
  
  <div class="pk_new">
 	<foreach name="pklist" item="vo" key="k">
  <if condition="($k lt 6) AND ($k % 2 eq 1)">
  <div class="pk_new">
      <h1>话题:<a href="{$vo.pkurl}" title="{$vo.title}" target="_blank">{$vo.title}
</a></h1>
    <div class="pk_more">
      <div class="pkm_view">
        <div class="pkm_yes">
          <p title="{$vo.agreetitle}">{$vo.agreeguide}</p>
         </div>
        <div class="pkm_no">
          <p title="{$vo.opposetitle}">{$vo.opposeguide}</p>
          </div>
        <div class="clear"></div>
        <div class="pk_jdt">
            <div class="pk_jdt_num"><b id="agree{$vo.id}">{$vo.agreevote}</b> / <b 
id="oppose{$vo.id}">{$vo.opposevote}</b></div>
            <div class="pk_jdt_a"><a class="zczhengfang" onclick="pkvote({$vo.id}, 
'agree');" style="cursor:pointer;"></a><a class="zcfanfang" onclick="pkvote({$vo.id}, 
'oppose');" style="cursor:pointer;"></a></div>
            <div class="pk_jdt_nr"><span class="zhengfang" style="width:
{$vo.point_good}%"></span><span class="fanfang" style="width:{$vo.point_bad}%"></span></div>
        </div>
      </div>
    </div>
    </div>
  </if>
  </foreach>
	</div>
  </div>
   
  <div class="clear"></div>
  <div class="Blank"></div>
</div>

<div class="Blank"></div>
<a class="white" id="gv_pk_viewnum_{$id}"></a>
<include file="./Application/Home/View/site.bottom.html" />
</html>