<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="">
<meta name="keywords" content="">
<title>辩论pk台_战略网</title>
<link href="__PUBLIC__/Style/basic.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Style/pk.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/function.comm.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/function.cookie.js"></script>
<script>

function checkform(id){
  var content = $("#"+id+" textarea[name='content']").val();
  var subject = $("#"+id+" input[name='subject']").val();
  if(subject == '标题:' ){
     $("#"+id+" input[name='subject']").val('');
  }
  if(content == '内容:' ){
     $("#"+id+" textarea[name='content']").val('');
  }
  
  return false;
}

function setform(id){
	$("#"+id+" input[name='subject']").val('标题:');
	$("#"+id+" textarea[name='content']").val('内容:');
}
//评论支持点击
function regoodtop(id){
	$.get(siteurl+"/do.php", {inajax:1,ado:'comment', ac:'comment_vote', parameter: $("#categoryid").val()+'_'+id+'_good'}, function(data){
		$('#topgood'+id).text(parseInt( $('#topgood'+id).text())+1);
	});

}
//评论反对点击
function rebadtop(id){
	$.get(siteurl+"/do.php", {inajax:1,ado:'comment', ac:'comment_vote', parameter: $("#categoryid").val()+'_'+id+'_bad'}, function(data){
		$('#topbad'+id).text(parseInt( $('#topbad'+id).text())+1);
	});

}

//回复此评论
function recommenttop(id){
	off = $("#cmm_"+id).offset();
	$.get(siteurl+"/do.php", {inajax:1,ado:'pk', ac:'pk_reap', parameter: $("#categoryid").val()+'_'+id}, function(data){
		comment('发表评论', checkReturn(data), off.top+20, off.left-210,500,0);
	});

}

function clicks(id) {
	ids=$("li [id="+id+"]").parents('.comment_box').attr('id');
	$("."+ids).attr('value',$("."+ids).attr('value')+$("li [id="+id+"]").attr("id"));
}
//PK会员登录
function pklogin(){
	//清除帐号密码的空格
	var username = encodeURI( $('input[name="username"]').val().replace(/\s/g,"") );
	var password = encodeURI( $('input[name="password"]').val().replace(/\s/g,"") );

	if ( username === '' ) {
		$('input[name="username"]').focus();
		return;
	}
	if ( password === '' ) {
		$('input[name="password"]').focus();
		return;
	}

	var url = siteurl+"/do.php?inajax=1&do=user&ac=pk_login&parameter="+username+"_"+password+"&json=1&jsoncallback=?";
	$.getJSON(url,function(json){
		if ( json.logininfo) {
			alert(json.logininfo);
		} else {
			$('.com_login').find('form').hide();
			$('.com_login #com_login').append(json.data);
		}
	});
}
//2012-3-19 退出登录
function loginout(id,param){
   doAjaxGetJSON(id,'pk','pk_loginout',param);
}
//获取评论总个数
function getCommentTotal(pkid) {
	var url = siteurl+"/do.php?inajax=1&do=comment&ac=comment_total&parameter=-1_"+pkid+"&json=1&jsoncallback=?";
	$.getJSON(url,function(json){
		$('#comment_total').text(json.data);
	});
}
var wid = null;
$(function(){
	//页面加载，把帐号和密码框里面的内容都清空
	$("input[name='reguser']").click(function(){
		window.location=siteurl+"/user/reg";
	});
	$(".text").attr('value','');
	$(".text").focus(function(){
		$(this).attr('value','');
	});

	//获取PKID
	var pkid = $('#infoid').attr('value');
	//获取评论总数
	getCommentTotal(pkid);
	wid = window.setInterval("showheight()",1000);
});
function showheight(){
	var lefth = $(".main_left .review_bk").height();
	var righth = $(".main_right .reviews_bk").height();
	var toplefth = $(".hot_red").height();
	var toprighth = $(".hot_blue").height();
	var tmph = g = 0;
	if(lefth>26 && lefth+toplefth>righth+toprighth){
		var tmph = toplefth;
		$(".main_left .review_bk .review").each(function(){
			tmph += $(this).height();
			if(tmph>righth+toprighth){
				g += 1;
				if(g>1){
					$(this).hide();
				}
			}
		});
		window.clearInterval(wid);
	}else{
		if(righth>26){
			var tmph = toplefth;
			$(".main_right .reviews_bk .review").each(function(){
				tmph += $(this).height();
				if(tmph>lefth+toplefth){
					g += 1;
					if(g>1){
						$(this).hide();
					}
				}
			});
			window.clearInterval(wid);
		}
	}
}

</script>
</head>
<body>
<include file="./Application/Home/View/Pk/site.head.html" />
<div id="main">
  <div class="block">
    <h1><span class="fright"><img src="__PUBLIC__/Images/pk_h1bg_r.jpg"></span><a class="gdpk"></a></h1>
  </div>
  <div class="main_left">
 <foreach name="list" item="vo" key="k">
 <if condition="$k % 2 eq 0">
  <div class="pk_new">
      <h1>话题:<a href="{$vo.pkurl}" title="{$vo.title}" target="_blank">{$vo.title}</a></h1>
    <div class="pk_more">
      <div class="pkm_view">
        <div class="pkm_yes">
          <p title="{$vo.agreetitle}">{$vo.agreetitle}</p>
         </div>
        <div class="pkm_no">
          <p title="{$vo.opposetitle}">{$vo.opposetitle}</p>
          </div>
        <div class="clear"></div>
        <div class="pk_jdt">
            <div class="pk_jdt_num">{$vo.agreevote} / {$vo.opposevote}</div>
            <div class="pk_jdt_a"><a class="zczhengfang" onclick="pkvote({$vo.id}, 'agree');" style="cursor:pointer;"></a><a class="zcfanfang" onclick="pkvote({$vo.id}, 'oppose');" style="cursor:pointer;"></a></div>
            <div class="pk_jdt_nr"><span class="zhengfang" style="width:{$vo.point_good}"></span><span class="fanfang" style="width:{$vo.point_bad}"></span></div>
        </div>
      </div>
    </div>
    </div>
    </if>
  </foreach> 
  </div>
  <div class="main_right">
  <foreach name="list" item="vo" key="k">
  <if condition="$k % 2 eq 1">
  <div class="pk_new">
      <h1>话题:<a href="{$vo.pkurl}" title="{$vo.title}" target="_blank">{$vo.title}</a></h1>
    <div class="pk_more">
      <div class="pkm_view">
        <div class="pkm_yes">
          <p title="{$vo.agreetitle}">{$vo.agreetitle}</p>
         </div>
        <div class="pkm_no">
          <p title="{$vo.opposetitle}">{$vo.opposetitle}</p>
          </div>
        <div class="clear"></div>
        <div class="pk_jdt">
            <div class="pk_jdt_num">{$vo.agreevote} / {$vo.opposevote}</div>
            <div class="pk_jdt_a"><a href="#" class="zczhengfang"></a><a href="#" class="zcfanfang"></a></div>
            <div class="pk_jdt_nr"><span class="zhengfang" style="width:{$vo.point_good}"></span><span class="fanfang" style="width:{$vo.point_bad}"></span></div>
        </div>
      </div>
    </div>
    </div>
    </if>
  </foreach>
  </div>
  <div class="clear"></div>
	<div class="xy">
            {$show}
       </div>
</div>
<div class="Blank"></div>
<include file="./Application/Home/View/Pk/site.bottom.html" />
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fcd0a687f19db4e63c481a5b03c59f4e3' type='text/javascript'%3E%3C/script%3E"));


$('.return_top').live('click',function(){
	$("html, body").animate({ scrollTop: 0 }, 'fast');
});	

</script><script src="js/h.js" type="text/javascript"></script><script type="text/javascript">BAIDU_CLB_SLOT_ID = "253313";</script> 
<script type="text/javascript" src="js/o.js"></script><script charset="utf-8" src="js/ecom"></script> 
<script type="text/javascript">var vjAcc = '860010-00401';</script><script type="text/javascript" src="js/a.js"></script><img src="__PUBLIC__/Images/a.gif" style="visibility:hidden;position:absolute;left:0px;top:0px;z-index:-1" height="1" width="1">
</body>
</html>