<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>网页信息提示页面</title>
<link href="{$Think.const.SITE}/Public/style/basic.v1.4.css" rel="stylesheet" type="text/css">
<if condition="$second neq ''">
<script type="text/javascript" src="{$Think.const.SITE}/Public/js/jquery.min.js"></script>
<script type="text/javascript" src="{$Think.const.SITE}/Public/js/function.comm.js"></script>
</if>
<body>
<div id="main">
	<div class="bug_block">
		<div class="bug_outside">
			<div class="bug_inside">
			<img src="{$Think.const.SITE}/Public/images/blog/blog_bug.jpg" width="67" height="67" />
			<p><span>{$message} </span><br /><if condition="strstr($message,$blogurl) gt 0">5秒钟页面将自动跳转至博客<else/>5秒钟页面将自动跳转至首页</if></p>
		</div>
		<div class="bug_insides">
			<a class="blue" href="javascript:history.go(-1);">返回上一页</a><a class="blue" href="{$Think.const.SITE}">返回首页</a><a class="grayfont" href="{$Think.const.SITE}">战略网</a>
		</div>
		</div></div>
	</div>
</div>
</body>
</html>