{if !empty($textlinksImg) && !$nolink}
<div id="main">
  <div class="Links_new">
    <div class="links_top">
     <input type="button" class="return_top" value=" " alt="回到顶部" title="回到顶部"/>
      <span class="qq_qt">洽谈QQ：2368277600</span>
      <ul>
       <li><a href="#" class="current" id="a1">友情链接 </a></li>
       <li><a href="#" id="a2">合作伙伴</a></li>
       <li><a href="#" id="a3">综合门户</a></li>
       <li><a href="#" id="a4">新闻媒体</a></li>
      </ul>
    </div>
    <div class="clear"></div>
     <div class="links_x">
       <div class="content1" id="c1">
         <div class="links_pic">
		  {section name=loop loop=$textlinksImg}
		  <a href="{$textlinksImg[loop].linkurl}" onclick="linkclick('{$textlinksImg[loop].id}')"  title="{$textlinksImg[loop].linkname}" target="_blank"><img width="88px" height="31px" alt="{$textlinksImg[loop].linkname}" src="{if strstr($textlinksImg[loop].imgurl,'http')} {$textlinksImg[loop].imgurl} {else} {$attpath}/{$textlinksImg[loop].imgurl} {/if}" /></a>
		  {/section}
		  <div class="clear"></div>
         </div>
         <div class="links_ul">
          <ul>
          {section name=loop loop=$textlinks}
            <li><a href="{$textlinks[loop].linkurl}" onclick="linkclick('{$textlinks[loop].id}')" title="{$textlinks[loop].linkname}"  target="_blank">{$textlinks[loop].linkname}</a>|</li>
          {/section}
          </ul>
          <div class="clear"></div>
         </div>
         <div class="clear"></div>
       </div>
       <div class="hide" id="c2">
        <div class="links_ul">
          <ul>
		  {section name=loop loop=$cooperation}
            <li><a href="{$cooperation[loop].linkurl}" onclick="linkclick('{$cooperation[loop].id}')" title="{$cooperation[loop].linkname}" target="_blank">{$cooperation[loop].linkname}</a>|</li>
          {/section}
          </ul>
          <div class="clear"></div>
        </div>
       </div>
       <div class="hide" id="c3">
        <div class="links_ul">
          <ul>
			{section name=loop loop=$complex}
            <li><a href="{$complex[loop].linkurl}" onclick="linkclick('{$complex[loop].id}')" title="{$complex[loop].linkname}" target="_blank">{$complex[loop].linkname}</a>|</li>
          	{/section}
          </ul>
          <div class="clear"></div>
         </div>
       </div>
       <div class="hide" id="c4">
        <div class="links_ul">
          <ul>
			{section name=loop loop=$newsmedia}
            <li><a href="{$newsmedia[loop].linkurl}" onclick="linkclick('{$newsmedia[loop].id}')"  title="{$newsmedia[loop].linkname}" target="_blank">{$newsmedia[loop].linkname}</a>|</li>
          	{/section}
          </ul>
          <div class="clear"></div>
         </div>
       </div>
       <div class="clear"></div>
     </div>
      <div class="clear"></div>
  </div>
</div>
<div class="Blank"></div>
{/if}
<div id="footer">
  {$footerlink}
  <div>
	 	<div class="footer_x"></div>
		<span>
        {section name=loop loop=$bottomnavi}
				<a href="{if strstr($bottomnavi[loop].linkurl,'http')}{$bottomnavi[loop].linkurl}{else}{$site}/{$bottomnavi[loop].linkurl}{/if}">{$bottomnavi[loop].naviname}</a>{if !$smarty.section.loop.last}|{/if}
        {/section}</span> <br />在线投稿邮箱：tougao@chinaiiss.com    值班电话：工作日 010-62360932(9:00-18:00)<br />Copyright ©2002-<script>document.write(new Date().getFullYear());</script> www.chinaiiss.com All Rights Reserved. 京ICP证110164号 京ICP备11008173号<script src="http://s85.cnzz.com/stat.php?id=215831&web_id=215831&show=pic" language="JavaScript"></script></div>
</div>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fcd0a687f19db4e63c481a5b03c59f4e3' type='text/javascript'%3E%3C/script%3E"));

{literal}
$('.return_top').live('click',function(){
	$("html, body").animate({ scrollTop: 0 }, 'fast');
});	
{/literal}
</script>
